
 <h2>Product Details</h2>>

 <div *ngIf="product">
  <h3>Phone XL</h3>
  <h4>$799.00</h4>
  <p>Description: A large phone with one
    of the best screens.</p>

    <button (click)="addToCart(product)">Buy</button>

</div>

<div *ngIf="product">
  <h3>Phone Mini</h3>
  <h4>$699.00</h4>
  <p>Description: A great phone with one of
    the best cameras.</p>

    <button (click)="addToCart(product)">Buy</button>

</div>

<div *ngIf="product">
  <h3>Phone Standard</h3>
  <h4>$799.00</h4>
  <p>Description: The classic phone.</p>

  <button (click)="addToCart(product)">Buy</button>

</div>
